<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ImageSlider.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ImageSliderExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>56A4F1BD1D3B9C5E00D7B025</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>56A4F1D11D3B9C5E00D7B025</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>56A4F1E51D3B9CBB00D7B025</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>56A4F2331D3BA5B900D7B025</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
